*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
    }
.container {
    width: 70%;
    margin:auto;
    padding: 1rem;
    border: 2px solid white;
    text-align: center;
}
h2 {
    color: black;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
section{
    min-height: 100vh;
    background-color: greenyellow;
}
button{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 1rem;
}

.reveal {
    display: block;
}

.hidden {
    display: none;
}

@media screen and (min-width: 800px) {
    .content-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .btn {
        flex: 1
    }
    .content {
        flex: 2;
    }
}