*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
    }
.container {
    width: 70%;
    margin:auto;
    padding: 1rem;
    border: 2px solid white;
    text-align: center;
}
h2 {
    color: white;
}
section{
    min-height: 100vh;
    background-color: salmon;
    display: grid;
}
button{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}
